* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(220, 58%, 31%);
}

.app {
  overflow: hidden;
  background: linear-gradient(90.48deg, #417B94 3.82%, rgba(74, 163, 199, 0.71) 95.66%);
}

.loader {
  background: linear-gradient(90.48deg, #417B94 3.82%, rgba(74, 163, 199, 0.71) 95.66%);
  height: 100vh;
}

.overlap {
  width: 549.64px;
  height: 566.06px;
  left: -95.26px;
  top: -94.16px;
  color: rgba(254, 254, 254, 0.07);

}

.overlap2 {
  width: 1557.39px;
  height: 566.06px;
  left: 363.67px;
  top: -163.73px;
  color: rgba(254, 254, 254, 0.07);
  overflow-x: hidden;
}

.overlap3 {
  width: 2494.43px;
height: 699.18px;
left: -219.95px;
top: 295.26px;
color: rgba(254, 254, 254, 0.07);
}

.hero-text {
  width: 465px;
}

.hero-text h1 {
  font-family: 'Open Sans';
  font-size: 172.867px;
  /* line-height: 263px; */
  color: #FFFFFF;
  text-shadow: 0px 4.15047px 21.8978px rgba(0, 0, 0, 0.25);
}

.hero-text {
  text-shadow: 0px 4.15047px 21.8978px rgba(0, 0, 0, 0.25);
}

.hero-text p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16.708px;
  line-height: 27px;
}

.musichead {
  /* width: 382.48px; */
  height: 626.64px;
}

.musicfooter {
  width: 829.93px;
  height: 97.15px;
  background: linear-gradient(89.93deg, rgba(140, 102, 165, 0.2) 1.1%, rgba(179, 178, 193, 0.2) 90.1%);
  mix-blend-mode: normal;
  backdrop-filter: blur(62.4857px);
}

.playingnow {
  font-family: 'Open Sans';
  font-size: 14.0657px;
  line-height: 25px;
}

.songname {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 15.5292px;
  line-height: 28px;
  letter-spacing: 0.14em;
}

.artist {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15.708px;
  line-height: 27px;
}

.identify {
  /* width: 99.93px; */
  width: auto;
  height: 97.15px;
  /* background: white; */
}



/* lyrics extra styling */
.lyrics {  
  background: hsl(220, 58%, 31%);
  /* height: 100vh; */
}

.lines img {
  position: absolute;
  width: 1171px;
  height: 100vh;
  left: 0px;
  top: 0px;
  /* z-index: 0; */
}

@media only screen and (max-width: 768px) {
  .lines img {    
    left: 0px;
  }

  .lyricsContent img {
    padding: 0rem;
    width: 400px;
    height: auto;
  }
  
}

@media only screen and (max-width: 345px) {
  .lyricscontent h1 {
    font-size: 2rem;
  }
}

.lyricsContent {
  position: relative;
  z-index: 1;
}

.spiral {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.input-container {
	position: relative;
	margin-bottom: 25px;
}
.input-container label{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 14px;
	color: #fff;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border: 0;
  border-bottom: 1px solid #efb0bb;  
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 14px;
  color: #fff;
}
.input-container input:focus{ 
 border: none;	
 outline: none;
 border-bottom: 1px solid #e74c3c;	
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top: -12px;
	font-size: 10px;	
}

.modal {
  z-index: 10;
  animation: 3s ease-out 0s 1 slideInBottom;
}

@keyframes slideInBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.lyricshero {
  animation: 2s ease-out 0s 1 slideInLeft;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.lyricscontent {
  animation: 4s ease-out 0s 1 slideInRight;
}

.lyrics-nav {
  /* z-index: 2; */
}